* {
  font-family: 'Kumbh Sans', sans-serif;

}

body {

  margin: 0;
  padding: 0;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 12px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-card {

  position: relative;
  width: 1000px;
  height: auto;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 40px hsl(238, 29%, 16%);
  z-index: 1;
  overflow: hidden;
}

.container-svg {
  position: relative;
  width: 450px;
  height: 480px;
}

.img-svg {
  position: absolute;
  z-index: -1;
}

#desktop {
  position: absolute;
  left: -70px;
  top: 45px;
}

#shadow-desktop {
  position: relative;
  left: -560px;
  top: -320px;
  z-index: -10;
}

.container-box {
  position: relative;
  z-index: 9;
}

#box-desktop {
  position: absolute;
  left: -100px;
  top: 180px;

}

.container-questions {
  position: relative;
  width: 500px;
  padding: 30px 100px 50px 100px;
  margin: 40px 0;
}

.accordion {
  background-color: white;
  color: hsl(240, 6%, 50%);
  cursor: pointer;
  padding: 10px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  margin: 0px;
  font-size: 1.5em;
}

.accordion:hover {
  color: hsl(14, 88%, 65%);
}

.active {
  color: hsl(238, 29%, 16%);
  font-weight: bold;
}

.accordion:after {
  content: url('../images/icon-arrow-down.svg');
  transition: 0.5s ease-in-out;
  float: right;
}

.active:after {
  content: url('../images/icon-arrow-down.svg');
  transform: rotate(180deg);
  transition: 0.4s ease-in-out;
}

.panel {
  padding: 5px 0px;
  color: hsl(240, 6%, 50%);
  max-height: 0;
  text-align: left;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 1.2em;
  padding-right: 20px;
}

.cuentions {

  border-bottom: solid 1.5px hsl(240, 5%, 91%);
}

h1 {
  font-size: 2.8em;
  padding-bottom: 15px;
}

#mobil,
#shadow-mobil {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 25px 0;
}

.attribution a {
  color: #ffffff;
}

@media (max-width:1024px) {
  body {
    height: 100%;
  }

  #box-desktop,
  #shadow-desktop,
  #desktop {
    display: none;
  }

  .container {
    margin: 35% 0% 0% 0%;
  }

  .container-card {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 70%;
  }

  #mobil {
    display: block;
    position: absolute;
    margin-top: 0px;
    top: -110px;
    left: 7px;
    z-index: 9;

  }

  h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 0;
  }

  .panel {
    font-size: 0.9em;


  }

  .accordion {
    font-size: 1em;
    margin-top: 10px;
    padding: 10px 0;
  }

  #shadow-mobil {
    display: block;
    position: absolute;
    left: 35px;
  }

  .container-svg {
    position: relative;
    width: 100%;
    height: inherit;
    margin-bottom: 50px;
  }

  .container-questions {
    width: 80%;
    margin: 10px;
    padding: 50px 10px 55px 10px;
  }
}